<div class='container'>
  <h2 class='white-text'>SIGN UP FOR aHREF</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field white-text">
      <%= f.text_field :first_name, placeholder: 'FIRST NAME', autofocus: true %>
    </div>

    <div class="field white-text">
      <%= f.text_field :last_name, placeholder: 'LAST NAME' %>
    </div>

    <div class="field white-text">
      <%= f.email_field :email, placeholder: 'EMAIL' %>
    </div>

    <div class="field white-text">
      <% if @minimum_password_length %>

      <%= f.password_field :password, placeholder: 'PASSWORD', autocomplete: "off" %>
      <% end %><br />
    </div>

    <div class="field white-text">
      <%= f.password_field :password_confirmation, placeholder: "PASSWORD CONFIRMATION", autocomplete: "off" %>
    </div>
    <div class="center-align">
      <div class="actions">
        <%= f.submit "SIGN UP", class: "waves-effect waves-light red darken-4 btn-large" %>
      </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>
    </div>
</div>
