
  <div class="languages">
    <div class="white-text col l3 hide-on-med-and-down grey darken-3">
      <ul class="fixed">
        <li>
          <img src="https://www.codementor.io/assets/topic/category_header/ruby-on-rails.png" class="picture">    <%= link_to 'RUBY' %>
        </li>
        <li>
          <img src="https://www.codementor.io/assets/page_img/learn-javascript.png" class="picture">    <%= link_to 'JAVASCRIPT' %>
        </li>
        <li>
          <img src="https://www.python.org/static/opengraph-icon-200x200.png" class="picture">    <%= link_to 'PYTHON' %>
        </li>
        <li>
          <img src="http://kukuruku.co/uploads/images/00/08/72/2015/04/09/7c8437.png" class="picture">    <%= link_to 'C++' %>
        </li>
        <li>
          <img src="http://devstickers.com/assets/img/pro/2p4i.png" class="picture">    <%= link_to 'C#' %>
        </li>
        <li>
          <img src="http://sqlcourseslondon.co.uk/wp-content/uploads/2015/08/badges_DD_Database_Stage3.png" class="picture">    <%= link_to 'SQL' %>
        </li>
        <li>
          <img src="http://www.iconarchive.com/download/i60803/graphics-vibe/developer/php.ico" class="picture">    <%= link_to 'PHP' %>
        </li>
      </ul>
    </div>
  </div>
