<!DOCTYPE html>
<html>
<head>
  <title>Hrefhack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper red darken-4 " >
      <a href="/" class="brand-logo hide-on-med-and-down" style="margin-top: .5em;">aHref</a>
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down right" style="margin-top: 2em;">
        <% if user_signed_in? && current_user.profile %>
          <li><%= link_to current_user.first_name, user_profile_path(current_user, current_user.profile) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to current_user.first_name, new_user_profile_path(current_user) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
      <ul class="left hide-on-med-and-up" style="margin-top: 1em;">
        <a href="/" class="brand-logo right hide-on-med-and-up" >aHref</a>
        <% if user_signed_in? && current_user.profile %>
          <li><%= link_to current_user.first_name, user_profile_path(current_user, current_user.profile) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to current_user.first_name, new_user_profile_path(current_user) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
      
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



<%= yield %>

</body>
</html>
